.github-section{
    max-width:1100px;
    margin:100px auto;
  }
  
  .section-title{
    text-align:center;
    font-size:32px;
    margin-bottom:40px;
  }
  
  .calendar-card{
    background:rgba(30,41,59,.6);
    border:1px solid rgba(56,189,248,.1);
    border-radius:14px;
    padding:25px;
  }
  
  .calendar rect{
    rx:3;
    transition:.2s;
  }
  
  .calendar rect:hover{
    stroke:#2563eb;
    stroke-width:1px;
    transform:scale(1.15);
  }