.projects {

  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));

  gap: 40px;

  margin-top: 40px;

}

.project-grid {

  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  gap: 30px;

  margin-top: 30px;

}

.project-card {

  padding: 24px;
  background: var(--card);
  border-radius: 10px;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;

}

.project-card:hover {

  transform: translateY(-6px) scale(1.01);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.25);

}

.project-title {

  font-size: 1.2rem;
  margin-bottom: 8px;

}

.project-links {

  margin-top: 14px;

}

.project-card h3 {

  font-size: 1.45rem;
  margin-bottom: 12px;

}

.project-card p {

  opacity: 0.8;
  margin-bottom: 14px;

}

.stack-grid {

  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));

  gap: 22px;

  justify-items: center;
  align-items: center;

  margin-top: 20px;

}

.stack-item {

  display: flex;

  flex-direction: column;

  align-items: center;
  justify-content: center;

  text-align: center;
  transition: transform .2s ease;
  gap: 8px;

}

.stack-item i {

  font-size: 34px;

}

.stack-item span {

  font-size: 14px;

  margin-top: 4px;

}

.stack-item:hover {

  transform: translateY(-4px);

}

.stack {

  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 0.95rem;

}

.stack img {

  width: 28px;
  height: 28px;

}

.tags {

  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  margin-top: 10px;

}

.tags span {

  padding: 6px 10px;

  border-radius: 6px;

  background: rgba(37, 99, 235, 0.15);

  color: #2563eb;

  font-size: 0.8rem;

  font-weight: 500;

}

@media (max-width:768px) {

  .stack-grid {

    grid-template-columns: repeat(3, 1fr);

    gap: 18px;

  }

}

/* header projetos */

.projects-header {

  display: flex;
  flex-direction: column;

  gap: 16px;

  margin-bottom: 20px;

}

.projects-header h2 {

  margin: 0;

}

/* container da busca */

.search-wrapper {

  position: relative;

  width: 100%;
  max-width: 420px;

}

/* input */

#project-search {

  width: 100%;

  padding: 10px 14px 10px 38px;

  border-radius: 10px;

  border: 1px solid var(--border);

  background: var(--card);
  color: var(--text);

  font-size: 14px;

}

/* icone */

.search-wrapper i {

  position: absolute;

  left: 12px;
  top: 50%;

  transform: translateY(-50%);

  font-size: 14px;

  opacity: 0.6;

}

/* foco */

#project-search:focus {

  outline: none;
  border-color: var(--primary);

}

#project-search::placeholder {
  opacity: 0.6;
}

/* mobile */

@media (max-width:768px) {

  .search-wrapper {

    width: 100%;
    max-width: 340px;

    margin-left: auto;
    margin-right: auto;

  }

  #project-search {

    max-width: 290px;

  }

}